body>*{
  max-width: 1440px;
  margin: 0 auto !important;
  font-family: Montserrat;
  line-height:35px;
}

p{
    font-size:20px;
}

button, a.button{
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 14px 60px;
    background: none;
    text-decoration: none;
    color: black;
}

.logo{
    width: 28px;
}


.navigation-bar, .project-list{
    padding: 5.5% 8.3% 0px 8.3%; /* 80px 120px 0px 120px; */
    clear:both;
}

.navigation-bar>*{
    display:inline;
}

.menu-list{
    display:inline;
    margin: 0;
    padding: 0;
    float: right;
}
    
.menu-list li{
    display:inline;
}

.menu-list li:first-child{
    margin-right: 25px;
}

.menu-list a{
    text-decoration: none;
    color: #525C75;
}
        
        
    
.personal-detail{
    padding: 8.3% 8.3% 8.3% 8.3%;
    text-align: center;
}

.personal-detail h3{
    font-weight: normal;
}

.personal-image{
    width: 70%;
    box-shadow: 25px -25px #FFECCA, 25px 25px #FFECCA;
    padding: 0px;
    margin-top: 30px;
}
        
        
        
        
.project-list{
    padding: 0px 8.3% 2% 8.3%; /* 120px 120px 30px 120px; */
}

.project-list img{
    margin-top:50px;
}

.each-project{
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 4%;
    padding-right: 4%;
}

.each-project:hover{
    opacity: 0.8;
}

.each-project>*{
    flex-grow: 1;
    flex-basis: 0;
    text-align:center;
}

.each-project img{
    width: 300px;
}

.each-project h1{
    font-family: Ivy Mode;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
}







.about-me-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.8% 8.3% 2% 8.3%;
}

.about-me-container-background{
    background: #E5E5E5;
    padding: 4.8% 6% 7.2% 6%;
    margin: 0 auto;
    align-items: center;
}

.about-me-container h1{
    font-size: 48px;
    line-height: 59px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 25px;
}

.about-me-container button{
    margin-top: 40px;
}

.about-me-image{
    width: 100%;
    margin-top:50px;
}

.contact-buttons{
    text-align: center;
    margin-bottom: 50px;
}










.project-content-top{
    text-align: center;
}

.project-content-top>h1{
    margin-top:60px;
}

.project-content-top>img{
    margin-top: 140px;
    width: 70%;
}

.project-content-overview>div:nth-child(2){
    margin-top:50px;
}

.market-research-content h4{
    font-size: 16px;
    margin-top: 30px;
}